.item-da-img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 5px;
  margin: 0;
  height: 100%;
  max-height: 580px;

  border: 1px solid #d4bebe;
  /* background-color: #fce6e6; */
}

.item-da-subtitle-time {
  color: rgb(92, 92, 92);
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 0.5em;
}

.item-da-title {
  margin-top: 0.5em;
}
.item-da-bid {
  font-size: 64px;
  font-weight: normal;
  margin-bottom: 20px;
}

.item-da-bid-dollar {
  font-size: 34px;
}

.item-da-subtitle {
  color: rgb(92, 92, 92);
  font-size: 14px;
  margin-top: 1em;
}

.item-da-description {
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-da-time-container {
  padding: 0.5em;
  border: 1px solid #f0f0f0;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 2em;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-da-time {
  text-align: center;
  margin-bottom: 0.5rem;
}

.item-da-time-finish {
  text-align: center;
  margin-top: 12px;
  background-color: #fff;
  padding: 0.25rem 2rem;
  border-radius: 10px;
}

.item-da-bottom-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  gap: 10px;
}
